[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
sympy = "*"
pandas = "*"
flask = "*"
jupyter = "*"
notebook = "*"
lab = "*"
jupyterlab = "*"
seaborn = "*"
scikit-learn = "*"
scipy = "*"
torch = "*"
torchvision = "*"
japanize-matplotlib = "*"
requests = "*"
gym = "*"
jsanimation = "*"
pyglet = "*"

[dev-packages]

[requires]
python_version = "3.8"
